<a href="https://colab.research.google.com/github/Rayers-Ranjitkar/Rayers_AI_Worksheets/blob/main/Week3_Pandas_Worksheet_Rayers_Ranjitkar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. Sorting and Subsetting**

In [5]:
#Load and Check info of the DataFrame:
import pandas as pd
titanic_df = pd.read_csv("/content/drive/MyDrive/Dataset/Workshop2/Titanic-Dataset.csv");
titanic_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

**Problem 1: Sorting**

In [6]:
#1. . Create a DataFrame called fare that contains only the Fare column of the Titanic dataset. Print the head of the result.
#print(titanic_df)
fare = titanic_df['Fare']
fare.head()

0     7.2500
1    71.2833
2     7.9250
3    53.1000
4     8.0500
Name: Fare, dtype: float64

In [11]:
#2. Create a DataFrame called class age that contains only the Pclass and Age columns of the Titanic dataset, in that order. Print the head of the result.

#print(titanic_df)
Pclass_col = titanic_df['Pclass']
Age_col = titanic_df['Age']
Class_age_df = pd.DataFrame({
    'Pclass': Pclass_col,
    'Age': Age_col
})
Class_age_df.head()

   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0

In [14]:
#3. Create a DataFrame called survived gender that contains the Survived and Sex columns of the Titanic dataset, in that order.Print the head of the result.

#print(titanic_df)

survived_gender_df = pd.DataFrame({
    'Survived':titanic_df['Survived'],
    'Sex':titanic_df['Sex']
})

print(survived_gender_df)

     Survived     Sex
0           0    male
1           1  female
2           1  female
3           1  female
4           0    male
..        ...     ...
886         0    male
887         1  female
888         0  female
889         1    male
890         0    male

[891 rows x 2 columns]

**Subsetting Rows by Categorical variables:**

In [25]:
#1. Filter the Titanic dataset for cases where the passenger’s fare is greater than 100, assigning it to fare 100.View the printed result.

#print(titanic_df)
#filtered_data = titanic_df.filter(lambda x: x>100,titanic_df['Fare']) #filter(function, iterable) function must take one element at a time from the iterable and return True or False. Python’s filter() can technically iterate over a Series, but it returns a filter object of Series elements, not a proper DataFrame with all columns.
fare_gt_100 = titanic_df[titanic_df['Fare'] > 100]

#print(fare_gt_100)
fare_gt_100.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0000,C23 C25 C27,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C
195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C

In [24]:
#2. Filter the Titanic dataset for cases where the passenger’s class (Pclass) is 1, assigning it to first_class and view it.

first_class = titanic_df[titanic_df['Pclass'] == 1]

#print(first_class)
first_class.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S

In [31]:
#3. Filter the Titanic dataset for cases where the passenger’s age is less than 18 and the passengeris female (Sex is "female"), assigning it to female_under_18. View the printed result.

#female_under_18 = titanic_df[titanic_df['Age'] < 18 & titanic_df['female']] #can only select multiple cols without any condition used, if there is condition then loc or iloc is used

female_under_18 = titanic_df.loc[(titanic_df['Age'] > 18) & (titanic_df['Sex'] == 'female')] #just add '.loc' after dfName + operator precedence so, put inside ( ) + loc is mostly used when we have to choose both rows and cols df.loc(cond,[colsName i.e. Name,Age]) i.e. to view those specific cols only. Here, without loc works too as we are just selecting rows

female_under_18.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

**Subsetting Rows by Categorical variables:**

In [33]:
#1. Filter the Titanic dataset for passengers whose Embarked port is either "C" (Cherbourg) or "S"(Southampton), assigning the result to embarked C or S.


embarked_c_or_s = titanic_df[(titanic_df['Embarked'] == 'C') | (titanic_df['Embarked'] == 'S')]
embarked_c_or_s.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [36]:
#2. Filter the Titanic dataset for passengers whose Pclass is in the list [1, 2] (indicating first or second class), assigning the result to first second class.View the printed result.

first_second_class = titanic_df[titanic_df['Pclass'].isin([1,2])]
first_second_class.head()
#print(first_second_class)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

# **2. Exploratory Data Analysis Practice Exercise-1**

In [41]:
old_null_count = titanic_df['Age'].isnull().sum()
print(f"Total old_data_null_Count = {old_null_count}")

#Handling Null data by filling them with median...............
median_age = titanic_df['Age'].median()
#print(median_age)

titanic_df['Age'].fillna(median_age, inplace=True) #fillna fills the cols data where the data is null and returns a new df but, When inplace=True: The original DataFrame is modified directly. The method returns None, not a new DataFrame. Many pandas methods like .fillna(), .drop(), .rename(), .sort_values() have the parameter inplace.
print(f"Total new_data_null_Count = {titanic_df['Age'].isnull().sum()}")

Total old_data_null_Count = 177
Total new_data_null_Count = 0

**Which passenger had the highest fare paid relative to their age?**

In [53]:
# 1. Add a column to the Titanic dataset called 'fare_per_year', containing the Fare divided by the Age of the passenger (Fare / Age)

titanic_df['fare_per_year'] = titanic_df['Fare']/titanic_df['Age'] #here we had to deal with each row data operation on adjacent each row data so normal works. Transform becomes complex here -> titanic_df['fare_per_year'] = titanic_df[['Fare', 'Age']].transform(lambda x: x['Fare'] / x['Age']) # .transform() is mainly used after groupby(). #It applies a function to each group and returns a Series with the same index as the original DataFrame.#This is crucial when you want to perform group-wise operations but keep the original DataFrame shape. Where it makes more sense->  titanic_df['avg_fare_per_class'] = titanic_df.groupby('Pclass')['Fare'].transform('mean') -> When we have a grouped operation, like “average Fare per Pclass for each passenger”: -> first we need to group them and calculate avg of each group right -> Here .transform() is necessary because you want the result to have the same number of rows as the original DataFrame.
titanic_df.head()
#titanic_df.drop('fare_per_age', axis=1, inplace= True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000

In [54]:
# 2. Subset rows where 'fare_per_year' is higher than 5, assigning this to high_fare_age. (subset = select)

high_fare_age = titanic_df[titanic_df['fare_per_year'] > 5]
high_fare_age.head()
#print(high_fare_age)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,28.0,1,0,PC 17569,146.5208,B78,C,5.232886
43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,NaN,C,13.859733

In [57]:
# 3. Sort high_fare_age by descending 'fare_per_year', assigning this to high_fare_age_srt

high_fare_age_sorted = high_fare_age.sort_values(by="fare_per_year",ascending = False) #sort_data -> sort_values, sort_index (to sort the index)
high_fare_age_sorted.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,164.728261
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,75.775000
386,387,0,3,"Goodwin, Master. Sidney Leonard",male,1.00,5,2,CA 2144,46.9000,NaN,S,46.900000
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S,39.687500
183,184,1,2,"Becker, Master. Richard F",male,1.00,2,1,230136,39.0000,F4,S,39.000000

In [58]:
#4. # Select only the 'Name' and 'fare_per_year' columns of high_fare_age_srt and save the result as 'result'
result_df = high_fare_age_sorted[['Name','fare_per_year']]
print(result_df)

                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]

**Find the Adult Male Passenger Who Paid the Highest Fare Relative to Their Class**

In [65]:
#1. Add a column to the Titanic dataset, fare_per_class, containing the fare divided by the passenger class (Fare ÷ Pclass).

titanic_df['fare_per_class'] = titanic_df['Fare'] /titanic_df['Pclass']
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333

In [69]:
#2. Subset rows where the passenger is male (Sex is "male") and an adult (Age ≥ 18), and assign this to adult_males.

adult_males = titanic_df[ (titanic_df['Sex'] == 'male') & (titanic_df['Age'] >= 18 ) ] #here, loc not required as we are just selecting rows #loc(rowsCondition,[cols]) when we'll be selecting both then it would be used
adult_males.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0.302082,2.819433
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333

In [71]:
#3. Sort adult_males by descending fare_per_class, and assign this to adult_males_srt.

adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending = False)
adult_males_srt.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C,14.637977,512.3292
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C,14.231367,512.3292
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,13.842105,263.0000
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S,4.109375,263.0000
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C,10.313367,247.5208
557,558,0,1,"Robbins, Mr. Victor",male,28.0,0,0,PC 17757,227.5250,NaN,C,8.125893,227.5250
527,528,0,1,"Farthing, Mr. John",male,28.0,0,0,PC 17483,221.7792,C95,S,7.920686,221.7792
377,378,0,1,"Widener, Mr. Harry Elkins",male,27.0,0,2,113503,211.5000,C82,C,7.833333,211.5000
332,333,0,1,"Graham, Mr. George Edward",male,38.0,0,1,PC 17582,153.4625,C91,S,4.038487,153.4625
373,374,0,1,"Ringhini, Mr. Sante",male,22.0,0,0,PC 17760,135.6333,NaN,C,6.165150,135.6333

In [74]:
#4. Select only the Name, Age, and fare_per_class columns of adult_males_srt, and save the result as result.

result_df = adult_males_srt[['Name','Age','fare_per_class'] ]
result_df.head(10)

#Lesurer, Mr. Gustave J and Cardeza, Mr. Thomas Drake Martinez paid highest fare relative to their class

                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
557                 Robbins, Mr. Victor  28.0        227.5250
527                  Farthing, Mr. John  28.0        221.7792
377           Widener, Mr. Harry Elkins  27.0        211.5000
332           Graham, Mr. George Edward  38.0        153.4625
373                 Ringhini, Mr. Sante  22.0        135.6333

# **3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:**

**What percent of the total fare revenue came from each passenger class?**

In [87]:
#1. Calculate the total Fare paid across all passengers in the Titanic dataset.

overall_total_fare_paid = titanic_df['Fare'].sum()
print(f"The total fare paid by all pessengers is = {overall_total_fare_paid}")

The total fare paid by all pessengers is = 28693.9493

In [79]:
#2. Subset for passengers in first class (Pclass is 1) and calculate their total fare.

#titanic_df.groupby('Pclass').filter(lambda x: x==1) #group_by is used only where we have say same categories data say A and his purchases in the rows and we want to find unique A only with all his purchases totaled

first_class_psg = titanic_df[titanic_df["Pclass"] == 1]
#first_class_psg.head()
total_fare_first_class = first_class_psg['Fare'].sum()
print(total_fare_first_class)

18177.4125

In [84]:
#3. Do the same for second class (Pclass is 2) and third class (Pclass is 3).

second_class_psg= titanic_df[titanic_df["Pclass"] == 2]
second_class_psg.head()
total_fare_second_class = second_class_psg['Fare'].sum()
print(total_fare_second_class)

#for third class
third_class_psg= titanic_df[titanic_df["Pclass"] == 3]
third_class_psg.head()
total_fare_third_class = third_class_psg['Fare'].sum()
print(total_fare_third_class)

3801.8417
6714.6951

In [106]:
#4. Combine the fare totals from first, second, and third classes into a list.


total_fare_list_py = [total_fare_first_class, total_fare_second_class, total_fare_third_class] #python_list
#total_fare_list_np = np.arrays(total_fare_list_py) #numpy_arr_to_do_division
total_fare_series_pd = pd.Series(total_fare_list_py,index=[1,2,3] ) #pandas_list_aka_series(cols) #index = [1,2,3] -> start index from 1

# print(total_fare_series_pd)

#5. Divide the totals for each class by the overall total fare to get the proportion of fare revenue by class.
overall_total_fare = (total_fare_series_pd / overall_total_fare_paid)*100
print(f"Overall total fare : \n{overall_total_fare}")
print()
print("-"*100)

#Ans: Fare from 1st class was 63.34% of the total fare collected. Similarly, 2nd class was 13.24% and 3rd class was 23.40%.

for key,values in overall_total_fare.items(): #we can iterate pandas series like a dictionary aka js object
  print(f"Pessenger Class {key} = {values:.2f}%")

Overall total fare :
1    63.349288
2    13.249629
3    23.401084
dtype: float64

----------------------------------------------------------------------------------------------------
Pessenger Class 1 = 63.35%
Pessenger Class 2 = 13.25%
Pessenger Class 3 = 23.40%

**What percent of the total number of passengers on the Titanic belonged to each age group (e.g., child, adult, senior)?**

In [108]:
#1. Create a new column, age group, that categorizes passengers into "child" (age < 18), "adult" (age 18<64), and "senior" (age 65 and above).

titanic_df['age_group'] = titanic_df['Age'].apply(lambda x: 'child' if x<18 else('adult' if x<64 else 'senior')) #.apply -> It applies a function to each element of a Series (column) or to each row/column of a DataFrame.
#Can also do it by pd_cut()
titanic_df.head(20)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,fare_per_year,fare_per_class,age_group
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0.329545,2.416667,adult
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1.875876,71.283300,adult
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0.304808,2.641667,adult
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1.517143,53.100000,adult
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0.230000,2.683333,adult
5,6,0,3,"Moran, Mr. James",male,28.0,0,0,330877,8.4583,NaN,Q,0.302082,2.819433,adult
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,0.960417,51.862500,adult
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,10.537500,7.025000,child
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,0.412344,3.711100,adult
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,2.147914,15.035400,child
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,4.175000,5.566667,child
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,0.457759,26.550000,adult
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,0.402500,2.683333,adult
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,0.801923,10.425000,adult
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,0.561014,2.618067,child
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,0.290909,8.000000,adult
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,14.562500,9.708333,child
17,18,1,2,"Williams, Mr. Charles Eugene",male,28.0,0,0,244373,13.0000,NaN,S,0.464286,6.500000,adult
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,0.580645,6.000000,adult
19,20,1,3,"Masselmani, Mrs. Fatima",female,28.0,0,0,2649,7.2250,NaN,C,0.258036,2.408333,adult

In [117]:
#2. Calculate the total number of passengers on the Titanic.

total_passengers = titanic_df['PassengerId'].count()
print(total_passengers)

891

In [118]:
# 3. Count the number of passengers in each age group.

passenger_count_by_age_group = titanic_df.groupby('age_group')['PassengerId'].count() #titanic_df.groupby('age_group') -> Groups the DataFrame by the values in the 'Category' column ('A' and 'B'). followed by value -> ['Value'] Selects the column to perform aggregation on. and .counts() finally counts the total data in the cols
print(passenger_count_by_age_group)

age_group
adult     765
child     113
senior     13
Name: PassengerId, dtype: int64

In [124]:
#4. Divide the count of each age group by the total number of passengers to get the proportion of passenger in each age group.

proportion_by_age_group = (passenger_count_by_age_group/total_passengers)*100 ##passenger_count (by_age_group) gives counts per group, not individual ages #hmmm then where did the age_group go ? -> groupby('age_group') → splits the DataFrame into groups based on the age_group column. So internally, pandas now knows which rows belong to 'Adult', 'Child', 'Senior'. #counts = passenger_count_by_age_group.values  # [765, 113, 13] #we can do .values to use them separately when in need
print(proportion_by_age_group)
print()
print("-"*100)

for key,values in proportion_by_age_group.items(): #we can iterate pandas series like a dictionary aka js object
  print(f"{key} = {values:.2f}%")

age_group
adult     85.858586
child     12.682379
senior     1.459035
Name: PassengerId, dtype: float64

----------------------------------------------------------------------------------------------------
adult = 85.86%
child = 12.68%
senior = 1.46%